.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.Cancel {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header__title {
    font-size: 26px;
    font-weight: bold;
}

